.progressive-loading {
    overflow: hidden;
    position: relative;
}

.progressive-loading-wrapper img {
    width: 440px;
    height: 400px;
    transform: scale(1.1);
    opacity: 1;
    transition: opacity 2s ease-in-out;
}

.progressive-loading-wrapper img.original {
    position: absolute;
}

.progressive-loading-wrapper img.hide {
    opacity: 0;
}

.progressive-loading-wrapper img.thumb.blur {
    filter: blur(8px);
}